.campo-texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px 0;
}
.campo-texto__label {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}
.campo-texto__input {
  grid-column: span 2;
  background-color: rgb(229, 225, 225);
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 30);
  border-radius: 10px;
  border: none;
  padding: 24px;
  font-size: 24px;
  box-sizing: border-box;
  margin-bottom: 20px;
}